<footer>
    <div class="footer">
        <div class="leftSide">
            <div class="copyright">&copy; 2025 Wanderly, Inc.</div>
            <div class="privacy">
                <div class="privacyOption"><a href="">Privacy</a></div>
                <div class="privacyOption"><a href="">Terms</a></div>
                <div class="privacyOption"><a href="">Sitemap</a></div>
                <div class="privacyOption"><a href="">Company Details</a></div>
            </div>
        </div>
        <div class="rightSide">
            <div class="language"><span class="languageIcon material-symbols-outlined">
                    language
                </span>
                <div class="text">English(IN)</div>
            </div>
            <div class="currency"><i class="fa-solid fa-indian-rupee-sign"></i>
                <div class="text">INR</div>
            </div>
            <div class="socialMediaIcons">
                <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                <div class="icon"><i class="fa-brands fa-x-twitter"></i></div>
                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
            </div>
        </div>
    </div>
</footer>