<nav class="navbar navbar-expand-lg">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand compass" href="/listings">
            <span class="compassIcon material-symbols-outlined">explore</span>
            <span class="brand-text">Wanderly</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto center-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All Stays</a>
                <a class="nav-link" href="/listings/new">List Property</a>
            </div>

            <div class="auth-actions">
                <% if (!currentUser) { %>
                    <a class="nav-link auth-link" href="/login">Log In</a>
                    <a class="nav-link auth-link highlight" href="/signup">Sign Up</a>
                    <% } else { %>
                        <form action="/logout" method="get" class="logout-form">
                            <button class="logout-btn" type="submit">
                                <span class="btn-text">Log Out</span>
                            </button>
                        </form>
                        <% } %>
            </div>
        </div>
    </div>
</nav>