<div class="navbar">
    <div class="image"><i class="fa-regular fa-compass"></i></div>

    <!-- Hamburger Icon -->
    <div class="hamburger" id="hamburger">&#9776;</div>

    <div class="options" id="navOptions">
        <div class="navOption home"><a href="/">Home</a></div>
        <div class="navOption allListings"><a href="/listings">All Listings</a></div>
        <div class="navOption listProperty"><a href="/listings/new">List your property</a></div>        
    </div>
    <div class="logoutContainer">
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<hr class="navbarSeparator">
