.navbar .options {
    margin-right: 40rem;
    margin-left: 0;
}

.logoutContainer{
    margin-right: 5rem;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.mainContent{
    padding: 0  0 0 1.5rem;
    margin-top: 2rem;
}

.starsContainer{
    display: flex;
    gap: 1rem;
}

.star:hover{
    cursor: pointer;
}

.submitReviewButton{
    margin-top: 1.5rem;    
}

.ratingDiv{
    display: none;
}