.material-symbols-outlined.compassIcon {
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 2rem;
    color: red;
}

.collapse a{
    font-weight: bold;
    font-size: large;
    height: fit-content;
    width: auto;    
}

.navbar-nav{
    gap: 1rem;
}

.logoutContainer{
    padding: 1rem;    
}

.logoutButton{
    position: relative;
    height: 2rem;
    width: 5rem;    
    background-color: #ff4d6d;
    border-radius: 0.5rem;
}


.logoutIcon{
    position: absolute;
    top: 50%;             /* Vertically center */
    transform: translateY(-50%); /* Adjust for true vertical centering */
    opacity: 0;
    left: -50%;    
    transition: all 0.3s ease-in-out;
}

/*Start from -50 and make it to 38*/

.logoutText {
    position: absolute;
    font-weight: bold;
    top: 50%;             
    transform: translateY(-50%);
    left: 15%;           
    white-space: nowrap;  
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.logoutButton:hover .logoutIcon{
    left: 40%;
    opacity: 1;    
}

.logoutButton:hover .logoutText{
    left: 110%;
    opacity: 0;
}

.collapse a{
    transition: transform 0.3s ease-in-out;
}

.collapse a:hover{
    transform: scale(1.05);
}

